{% extends 'base.html.twig' %}

{% block title %}
    CJPG? - Tirage n°
{% endblock %}

{% block body %}
    <div class="container">

        {{ component('all_draws_euromillions') }}

    </div>
{% endblock %}
