{% extends 'base.html.twig' %}

{% block title %}
    CJPG? - Trouver un tirage
{% endblock %}

{% block body %}
    <div class="container">

        {{ component('search_euromillions_draw') }}

    </div>
{% endblock %}