<div class="explication_bloc" id="loto-explication_bloc">
    <h2>combien j'ai pas gagné ?<br>au loto !</h2>
    <div class="explication_text" id="loto-explication_text">
        <h3>le principe est simple</h3>
        <div class="explication_text1" id="loto-explication_text1">
            <p>1 - remplissez la grille ci-dessous avec : </p>
        </div>
        <div class="explication_1_1" id="loto-explication_1_1">
            <p class="explication_1_1_1">minimum 1</p>
            <div class="icon-ball-loto"></div>
            <p class="explication_1_1_2">OU 1</p>
            <div class="icon-luckynum-loto"></div>
        </div>
        <div class="explication_1_2" id="loto-explication_1_2">
            <p class="explication_1_2_1">maximum 5</p>
            <div class="icon-ball-loto"></div>
            <p class="explication_1_2_2">ET 1</p>
            <div class="icon-luckynum-loto"></div>
        </div>
        <div class="explication_text2" id="loto-explication_text2">
            <p>2 - Valider pour voir tous les tirages gagnants du loto qui<br>correspondent à vos numéros.</p>
        </div>
    </div>
</div>
