<div class="explication_bloc" id="euromillions-explication_bloc">
    <h2>combien j'ai pas gagné ?<br>à euromillions !</h2>
    <div class="explication_text" id="euromillions-explication_text">
        <h3>Le principe est simple</h3>
        <div class="explication_text1" id="euromillions-explication_text1">
            <p>1 - Remplissez la grille ci-dessous avec : </p>
        </div>
        <div class="explication_1_1" id="euromillions-explication_1_1">
            <p class="explication_1_1_1">minimum 1</p>
            <div class="icon-ball-euromillions"></div>
            <p class="explication_1_1_2">OU 1</p>
            <div class="icon-star-euromillions"></div>
        </div>
        <div class="explication_1_2" id="euromillions-explication_1_2">
            <p class="explication_1_2_1">maximum 5</p>
            <div class="icon-ball-euromillions"></div>
            <p class="explication_1_2_2">ET 2</p>
            <div class="icon-star-euromillions"></div>
        </div>
        <div class="explication_text2" id="euromillions-explication_text2">
            <p>2 - Valider pour voir tous les tirages gagnants de l’euromillions qui<br>correspondent à vos numéros.</p>
        </div>
    </div>
</div>
